%center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

%margin-menu{
     margin-top: 84px;
     @include media(large){
        margin-top:0px;
     
    }
     @include media(x-large){
        margin-top:0px;
     
    }
}


%margin-percent{
    margin-left:5%;
    margin-right:5%;
}