//Icons
$icomoon-font-family: "iconmoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-star: unquote('"\\e903"');
$icon-paper-plane: unquote('"\\e901"');
$icon-send: unquote('"\\e901"');
$icon-cogs: unquote('"\\e900"');
$icon-bar-graph: unquote('"\\e904"');
$icon-mouse: unquote('"\\e902"');
$icon-phone_in_talk: unquote('"\\e905"');
$icon-security: unquote('"\\e906"');
$icon-school: unquote('"\\e907"');
$icon-display: unquote('"\\e956"');
$icon-bubble: unquote('"\\e96b"');
$icon-search: unquote('"\\e986"');
$icon-menu: unquote('"\\e9bd"');
$icon-embed2: unquote('"\\ea80"');
$icon-facebook: unquote('"\\ea90"');
$icon-instagram: unquote('"\\ea92"');
$icon-twitter: unquote('"\\ea96"');
$icon-linkedin2: unquote('"\\eaca"');

//Breakpoints
$sm:576px;
$m:768px;
$lg:992px;
$xl:1200px;

//Colours
$pure_black: #000000;
$aqua_blue: #00FFFF;
$bg-colour: #eee9ee;
$initials-colour: #3e6d86;
$submit-colour: #FFFFFF;