.grid{
   h1,h2{
    margin-left:10px; 
   }
   a{
    text-decoration: none; //Removes underline from hyperlinks
   }

    @include grid($g-display:grid, //For the smaller screens, displays each grid item on a sepearate line (1x6 grid)
                  $g-row:1fr,
                  $g-column:1fr,
                  $gutter-row:20px,
                  $gutter-column:20px);
    
    @include media(large){
        @include grid($g-display:grid,
                      $g-row:1fr,
                      $g-column:1fr 1fr, //For the second largest breakpoint, displays a 2x3 grid
                      $gutter-row:20px,
                      $gutter-column:20px);
                }

    @include media(x-large){
        @include grid($g-display:grid,
                    $g-row:1fr,
                    $g-column:1fr 1fr 1fr, //For the largest breakpoint, displays a 3x2 grid
                    $gutter-row:20px,
                    $gutter-column:20px);
    }
    @extend %margin-percent;
    margin-top: 10px;
    

    &-object{
        width: 90vw; //The grid items fill 90% of the width on small devices
        border: 1px solid;

        @include media(large){
            width:35vw; //Changes the width to 35% to allow 2 grid items to fit on one line at second largest breakpoint
        }
        
        @include media(x-large){
            width:25vw; //Changes the width to 35% to allow 2 grid items to fit on one line at largest breakpoint
            position:relative;
            top: 10px;
            transition: .45s ease;
            &:hover{ //Raises a grid item by 10 pixels when it is hovered over
                top:0px;
                transition: .45s ease;
            }
        }
    }
   
}

#code-examples{
    @extend %margin-percent;
    margin-top: 20px;
}