.sticky-menu{
    //top:0px;
    //position:fixed;
    //width:100vw; //Sets the menu to take up the full width of the page at the smaller breakpoints
    //background-color: white;
    //border-bottom:4px solid $aqua_blue;
    //@extend %center;
    // @include flex(
    //         $flex-display:flex,
    //         $flex-direction:row,
    //         $flex-wrap:nowrap,
    //         $flex-align:center,
    //         $flex-justify:space-between
    //         );
    display:none;
    @include media(small){
        display:none;
    }
    
    @include media(medium){
        display:none;
    }
    @include media(large){
        width:15vw; //Sets the menu to take up only 15% of the width of page, but takes up the whole height of the page
        height:100vh;
        border-bottom: none;
        border-right: 4px solid $aqua_blue;
        top:0px;
        position:fixed;
        background-color: white;
        //@extend %center;

        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around
            );
    }
    @include media(x-large){
        width:15vw;
        border-bottom: none;
        border-right: 4px solid $aqua_blue;
        top:0px;
        position:fixed;
        background-color: white;
        //@extend %center;
    
        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    }
}

#sticky-1{
    @extend %center;
    //border-right:4px solid $aqua_blue;
    //width:40%;
    width:50%;
    // @include media(x-large){
    //     //border-right:none;
    //     //border-bottom: 4px solid $aqua_blue;
    //     width:100%;
    // }
}

#sticky-2{
    border-left:4px solid $aqua_blue;
    border-right:4px solid $aqua_blue;
    @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    @include media(small){
        @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    }
    @include media (medium){
        @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    }
    @include media(large){
        border-left:none;
        border-right:none;
        border-top:4px solid $aqua_blue;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom:4px solid $aqua_blue;
        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around,
            );
    }
    @include media(x-large){
        border-left:none;
        border-right:none;
        border-top:4px solid $aqua_blue;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom:4px solid $aqua_blue;
        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around,
            );
    }
    @extend %center;
    //width:50%;
    
    height: 100%;
}

#sticky-3{
    @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around,
            );
    display:none;

}

