.sticky-menu{
    top:0px;
    position:fixed;
    width:100vw;
    background-color: white;
    border-bottom:4px solid $aqua_blue;
    @extend %center;
    @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-between
            );
    @include media(large){
        width:15vw;
        height:100vh;
        border-bottom: none;
        border-right: 4px solid $aqua_blue;

        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around
            );
    }
    @include media(x-large){
        width:15vw;
        border-bottom: none;
        border-right: 4px solid $aqua_blue;
    
        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    }
}

#sticky-1{
    @extend %center;
    //border-right:4px solid $aqua_blue;
    //width:40%;
    width:50%;
    // @include media(x-large){
    //     //border-right:none;
    //     //border-bottom: 4px solid $aqua_blue;
    //     width:100%;
    // }
}

#sticky-2{
    border-left:4px solid $aqua_blue;
    border-right:4px solid $aqua_blue;
    @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around,
            );
    @include media(large){
        border-left:none;
        border-right:none;
        border-top:4px solid $aqua_blue;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom:4px solid $aqua_blue;
        }
    @include media(x-large){
        border-left:none;
        border-right:none;
        border-top:4px solid $aqua_blue;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom:4px solid $aqua_blue;
    }
    @extend %center;
    width:50%;
    height: 100%;
}