.sticky-menu{
    //top:0px;
    //position:fixed;
    //width:100vw; //Sets the menu to take up the full width of the page at the smaller breakpoints
    //background-color: white;
    //border-bottom:4px solid $aqua_blue;
    //@extend %center;
    // @include flex(
    //         $flex-display:flex,
    //         $flex-direction:row,
    //         $flex-wrap:nowrap,
    //         $flex-align:center,
    //         $flex-justify:space-between
    //         );
    display:none;
    @include media(small){
        display:none;
    }
    
    @include media(medium){
        display:none;
    }
    @include media(large){
        width:15vw; //Sets the menu to take up only 15% of the width of page, but takes up the whole height of the page
        height:100vh;
        border-bottom: none;
        border-right: 4px solid $aqua_blue;
        top:0px;
        position:fixed;
        background-color: white;
        //@extend %center;

        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around
            );
    }
    @include media(x-large){
        width:15vw;
        border-bottom: none;
        border-right: 4px solid $aqua_blue;
        top:0px;
        position:fixed;
        background-color: white;
        //@extend %center;
    
        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    }
}

#sticky-1{
    @extend %center;
    //border-right:4px solid $aqua_blue;
    //width:40%;
    width:50%;
    // @include media(x-large){
    //     //border-right:none;
    //     //border-bottom: 4px solid $aqua_blue;
    //     width:100%;
    // }
}

#sticky-2{
    border-left:4px solid $aqua_blue;
    border-right:4px solid $aqua_blue;
    @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    @include media(small){
        @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    }
    @include media (medium){
        @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start,
            );
    }
    @include media(large){
        border-left:none;
        border-right:none;
        border-top:4px solid $aqua_blue;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom:4px solid $aqua_blue;
        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around,
            );
    }
    @include media(x-large){
        border-left:none;
        border-right:none;
        border-top:4px solid $aqua_blue;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom:4px solid $aqua_blue;
        @include flex(
            $flex-display:flex,
            $flex-direction:column,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-around,
            );
    }
    @extend %center;
    //width:50%;
    
    height: 100%;
}

.menu-parts{
    .alt-menu{
        border: 1px solid white;
        background-color: black;
        top:0px;
        left:0px;
        width:20vw;
        max-width:20vw;
        height:8vh;
        font-size: 40px;
        color:white;
        position:fixed;
        @extend %center;
    
        @include media(small){
            width:10vw;
            height:10vh;
            font-size: 60px;
           
        };
        
        @include media(large){
            display:none;
        };
        @include media(x-large){
            display:none;
        };
    }
    #sticky-3{
        top:0px;
        margin-left:20vw;
        width:80vw;
        max-width:80vw;
        position:fixed;
        height:8vh; //Sets the menu to take up the full width of the page at the smaller breakpoints
        background-color: white;
        border-bottom:4px solid $aqua_blue;
        font-size: 16px;
        @include flex(
                $flex-display:flex,
                $flex-direction:column,
                $flex-wrap:nowrap,
                $flex-align:center,
                $flex-justify:space-around,
                );
        @include media(small){
                margin-left:10vw;
                width:90vw;
                max-width:90vw;
                height:10vh; 
                font-size:19px;
                @include flex(
                    $flex-display:flex,
                    $flex-direction:row,
                    $flex-wrap:nowrap,
                    $flex-align:center,
                    $flex-justify:space-around,
                    );
                    display:none;
                };
        @extend %center;
        display:none;
        // margin-top: 8px;
        // font-size:19px;
        // width:100%;
        // background-color: red;
        // border: 1px solid;
    
    }
}

