.banner{
    background-image: url("../img/background.jpg.crdownload"); 
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    text-align:center;
    @include flex(
        $flex-display:flex,
        $flex-direction:column,
        $flex-wrap:wrap,
        $flex-align:normal,
        $flex-justify:space-around
        );
    margin-bottom:20px;
}



// .intro{ 
//     @extend %margin-menu;
// }

.alt-menu{
    border: 1px solid white;
    background-color: black;
    top:0px;
    left:0px;
    width:20vw;
    height:8vh;
    font-size: 40px;
    color:white;
    position:fixed;
    @extend %center;

    @include media(small){
        width:10vw;
        height:10vh;
        font-size: 60px;
       
    };
    @include media(medium){
        
    };
    @include media(large){
        display:none;
    };
    @include media(x-large){
        display:none;
    };
}



#contact{
    @include media(x-large){
        height:100vw;
        padding-top: 20px;
    }
}