.banner{
    background-image: url("../img/professional.jpg"); 
    background-repeat: no-repeat;
    background-size:100vh;
    height:100vh;
//     @include flex(
//         $flex-display,
//         $flex-direction,
//         $flex-wrap,
//         $flex-align,
//         $flex-justify:
//         )
}