*{
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

a{
    text-decoration: none;
    color:$pure_black;
    &:hover{
        text-decoration: underline;
    }
}

button{
    &:hover{
        cursor: pointer;
    }
    max-width:100px;
}




header, body, #sticky-menu{
    background-color:$bg-colour;
}

main{
    @include media(x-large){
        margin-left: 15%;
    }
}

br{
    @include media(medium){
        display:none;
    }
}