*{
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

a{
    text-decoration: none;
    color:$pure_black;
    &:hover{
        text-decoration: underline;
    }
}

button{
    &:hover{
        cursor: pointer;
    }
    max-width:100px;
}




header, body, #sticky-menu{
    background-color:$bg-colour;
}

main{ //Used to prevent the first 15% of the content of the page from displaying underneath the fixed menu
    @include media(large){
        margin-left: 15%;
    }
    @include media(x-large){
        margin-left: 15%;
    }
}

// br{ 
//     .long{ //Used to put 'Netmatters' and 'Homepage' on the same line when there is enough space
//         @include media(large){
//             display:none;
//         }
//         @include media(x-large){
//             display:none;
//         }
//     }
// }

html{ 
    scroll-behavior: smooth;
}

small{
    color: red; //All <small> are warning notes, so they are red 
}