*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:$pure_black;
    &:hover{
        text-decoration: underline;
    }
}

button{
    &:hover{
        cursor: pointer;
    }
}

h1,h2, p{
    @extend %center;
}
