img{ //Restricts the amount of space that an img element can take up
     //The smaller viewports have bigger image sizes but less images that can be displayed in the same row
    max-width: 90vw; 
    max-height: 500px;
    
    @include media(large){
        max-width: 35vw;
        max-height: 400px;
    }
    @include media(x-large){
        max-width: 25vw;
        max-height: 300px;
    }
    
}