form{
    //@extend %center;
    @extend %margin-percent;
    @include grid($g-display:grid,
                  $g-row:1fr,
                  $g-column:1fr,
                  $gutter-row:10px,
                  $gutter-column:0px);

    @include media(x-large){
        width:55vw;
    }
    .form-object{
        margin-bottom: 10px;
    }
    .name-label{
        @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:flex-start
            );
        
    }
    #f-label, #l-label{
        width:52%;
    }
    
    
}

.name{
    //@extend %center;
    @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-between
            );
    #f-name, #l-name{
        width:48%; //Gives a small gap of 4% viewport width between the boxes for First and Last name, which are on the same line
    }
}

.contact-info{ //For both of the largest viewports, this is displayed next to the contact message class
               //For the other viewports, this is displayed underneath the contact message class
    @include media(x-large){
        @include flex(
                $flex-display:flex,
                $flex-direction:row,
                $flex-wrap:nowrap,
                $flex-align:center,
                $flex-justify:flex-start,
                );
    }
    @include media(large){
        @include flex(
                $flex-display:flex,
                $flex-direction:row,
                $flex-wrap:nowrap,
                $flex-align:center,
                $flex-justify:flex-start,
                );
    }
    margin-top:25px;
    @extend %margin-percent;
    
}

.contact-msg{
    @include media(x-large){
        width:33vw; //The short width of the contact message class makes sure that the contact info grid fits on the page
    }
    @extend %margin-percent;
};