form{
    @extend %center;
    @include grid($g-display:grid,
                  $g-row:1fr,
                  $g-column:1fr,
                  $gutter-row:10px,
                  $gutter-column:0px);
    margin-left:20%;
    margin-right:20%;
    @include media(x-large){
        width:55vw;
    }
    .form-object{
        margin-bottom: 10px;
    }
}

.name{
    @extend %center;
    @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-between
            );
}

.contact-info{
    @include media(x-large){
        @include flex(
                $flex-display:flex,
                $flex-direction:row,
                $flex-wrap:nowrap,
                $flex-align:center,
                $flex-justify:flex-start,
                );
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
}

.contact-msg{
    @include media(x-large){
        width:20vw;
    }
}