form{
    @extend %center;
    @extend %margin-percent;
    @include grid($g-display:grid,
                  $g-row:1fr,
                  $g-column:1fr,
                  $gutter-row:10px,
                  $gutter-column:0px);

    @include media(x-large){
        width:55vw;
    }
    .form-object{
        margin-bottom: 10px;
    }
}

.name{
    //@extend %center;
    @include flex(
            $flex-display:flex,
            $flex-direction:row,
            $flex-wrap:nowrap,
            $flex-align:center,
            $flex-justify:space-between
            );
    #f-name, #l-name{
        width:48%;
    }
}

.contact-info{
    @include media(x-large){
        @include flex(
                $flex-display:flex,
                $flex-direction:row,
                $flex-wrap:nowrap,
                $flex-align:center,
                $flex-justify:flex-start,
                );
    }
    @include media(large){
        @include flex(
                $flex-display:flex,
                $flex-direction:row,
                $flex-wrap:nowrap,
                $flex-align:center,
                $flex-justify:flex-start,
                );
    }
    margin-top:25px;
    @extend %margin-percent;
    
}

.contact-msg{
    @include media(x-large){
        width:33vw;
    }
    @extend %margin-percent;
};